.custom_footer {
  background: #f5f5f5;
  padding: 2rem 2rem;
}
.text_color {
  color: gray;
  text-align: justify;
}

.first_let {
  font-weight: 600;
  font-size: 30px;
}
.brand {
  font-weight: 700;
}

.social_box > a {
  text-decoration: none;
  color: #22b04c;
  font-size: 1.2rem;
  padding: 0px 6px;
  border-radius: 5px;
  margin: 0px 2px;
}
.link_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.link_wrapper > h5 {
  color: gray;
  line-height: 1.5;
}
.link_wrapper > a {
  text-decoration: none;
  color: gray;
  line-height: 2;
  font-size: 15px;
}
.divider {
  border: 1px solid #8c94b8;
  margin: 8px 0px;
}
.footer_end {
  color: gray;
  font-size: 0.8rem;
}
.ending_link > a {
  text-decoration: none;
  color: gray;
  font-size: 0.8rem;
  padding-right: 10px;
}
.inputFiled {
  width: 50%;
}

@media (max-width: 425px) {
  .custom_footer {
    color: gray;
    padding: 0rem 0rem;
  }
  .inputFiled {
    width: 100%;
  }
}
