.rowContainer{
    background-color: #eff2f5;
}
.title > h2{
    font-weight: 900;
    margin-bottom: 30px;
}
.title > h5{
   font-style: oblique;
   color: green;
}
.contactTitle{
    margin-bottom: 40px;
}
.contactTitle > h2{
    font-weight: 900;
    margin-bottom: 20px;
}
.contactTitle > p{
    color: gray;
}
.contactInfo > h5{
    font-weight: 800;
}
.form{
    border: none;
    font-size: small;
    background-color: #eff2f5;
}
.contactContainrt{
    background-image: url('../../assets/leaf.png');
    background-position: left;
    /* background-size: cover; */
}