.sec_title{
    text-align: center;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    font-weight: 800;
    /* text-transform: uppercase; */
}
.sub_title{
    text-align: center;
    margin-bottom: 40px;
}


.sub_title span:nth-child(1) {
   color: #df3639;
   font-weight: bold;
   text-decoration: overline;
  }
  
  .sub_title span:nth-child(2) {
    color: #22b04c;
    font-weight: bold;
    text-decoration: underline;

  }

.iconImg{
    width: 50px;
    height: 50px;
}

.cardContainer{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 312px;
    border: none;

}
.title{
    color: #22b04c;
    font-weight: bold;
}