html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: gray;
  }
  body {
    color: #ffffff;
    background: black;
  }
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}


a:link {
  text-decoration: none !important;
}

